name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/snake.svg?color_snake=%239E9E9E&color_dots[0]=%23f5f5f5&color_dots[1]=%23dddddd&color_dots[2]=%23bbbbbb&color_dots[3]=%23888888&color_dots[4]=%23555555
            dist/snake-dark.svg?color_snake=%239E9E9E&color_dots[0]=%23161b22&color_dots[1]=%230d3b2e&color_dots[2]=%23196136&color_dots[3]=%232ea043&color_dots[4]=%2356d364
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
